<form id="frmLogin_{{id}}" class="loginform-wrapper">
  <div class="mb-3">
    <label for="username" class="form-label fw-bold mb-1">{{gettext("Username")}}</label>
    <input type="text" class="form-control" id="username" name="username" value="">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label fw-bold mb-1">{{gettext("Password")}}</label>
    <div class="input-group">
      <input type="password" class="form-control" id="password" name="password" value="">
      <button class="btn btn-outline-secondary" type="button" id="togglePassword">
        <i class="fa fas fa-eye-slash"></i>
      </button>
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn {{btn_style}} float-end fw-bold">
      <i class="fa fas fa-sign-in-alt"></i>{{gettext("Login")}}
    </button>
  </div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    WebUI.loadScriptCdn("{{cdn_url}}", "cryptojs/crypto-js.min.js", function() {
      $("#frmLogin_{{id}}").submit(function(e) {
        e.preventDefault();
        WebUI.notify.clear();
        var u = $("#frmLogin_{{id}} input[name=username]"), 
            p = $("#frmLogin_{{id}} input[name=password]");
        WebUI.loader.load("POST", "{{submit_url}}", {
          username: u.val(),
          authkey: "{{authkey}}",
          digest: (p.val()) ? CryptoJS.SHA256("{{authkey}}" + CryptoJS.SHA256(p.val())).toString() : ''
        }, null, null, function() { p.val(''); p.focus(); }, 200);
        return false;
      });
    });

    $("#togglePassword").click(function() {
      const password = $("#password");
      const type = password.attr("type") === "password" ? "text" : "password";
      password.attr("type", type);
      $(this).find("i").toggleClass("fa-eye-slash fa-eye");
    });
  });
</script>
