
{% set static_local_url_prefix="/static/vendor" %}

{% macro css_link(cdn_url,resource_path) -%}
  <link rel="stylesheet" type="text/css" href="{{cdn_url or static_local_url_prefix|safe}}/{{resource_path|safe}}"{% if cdn_url %} onerror="this.onerror=null;this.href='{{static_local_url_prefix|safe}}/{{resource_path|safe}}'"{% endif %}>
{%- endmacro -%}

{% macro js_script(cdn_url,resource_path) -%}
  <script type="text/javascript" src="{{cdn_url or static_local_url_prefix|safe}}/{{resource_path|safe}}"{% if cdn_url %} onerror="this.onerror=null;document.write('<script type=text/javascript src=\'{{static_local_url_prefix|safe}}/{{resource_path|safe}}\'></script>')"{% endif %}></script>
{%- endmacro -%}
