<div class="alert-wrapper {% if dismissible %}alert-dismissible fade show{% endif %} {{styles}}">
  <div class="alert alert-{{alert_type}} text-start">
    {% if alert_icon %}<i class="fa fas fa-ta {{alert_icon}}"></i>{% endif %}
    {{message|safe}}
    {% if dismissible %}<button type="button" class="btn-close" data-bs-dismiss="alert"></button>{% endif %}
  </div>
</div>
