/*
  :copyright: 2021, ExonLabs. All rights reserved.
  :license: BSD, see LICENSE for more details.
*/
.form-wrapper .form-title {font-size:13px; font-weight:bold}

.form-wrapper .form-row>label {font-size:13px; font-weight:bold}
[dir=ltr] .form-wrapper .form-row>label {text-align:right; padding-right:25px}
[dir=rtl] .form-wrapper .form-row>label {text-align:left; padding-left:25px}
.form-wrapper .form-row>label::after {position:absolute; font-weight:bold; font-size:16px}
.form-wrapper .form-row>label.required::after {content:'*'; color:#f00}
[dir=ltr] .form-wrapper .form-row>label.required::after {padding-left:8px}
[dir=rtl] .form-wrapper .form-row>label.required::after {padding-right:8px}

@media(max-width:576px) {
  [dir=ltr] .form-wrapper .form-row>label {text-align:left}
  [dir=rtl] .form-wrapper .form-row>label {text-align:right}
}
