/*
  :copyright: 2020, ExonLabs. All rights reserved.
  :license: BSD, see LICENSE for more details.
*/

/* board design (Menu OFF) */
#board-wrapper {position:relative; margin:0;
  height:auto !important; height:100%; min-height:100%;
  background-color:#f8f9fa; color:#343a40}
#board-backdrop {position:fixed; top:0; bottom:0; left:0; right:0; opacity:0.4;
  display:none; z-index:-1; background-color:#6c757d; color:#fff}

#board-menubar {position:fixed; top:0; bottom:0; width:240px; box-shadow:none;
  overflow-x:hidden; z-index:100900; background-color:#343a40; color:#fff}
[dir=ltr] #board-menubar {left:0; margin-left:-240px}
[dir=rtl] #board-menubar {right:0; margin-right:-240px}

#board-page {height:auto !important; height:100%; min-height:100%}

#menubar-toggle {position:fixed; padding:7px 18px; font-size:16px;
  color:#999; z-index:101000}
[dir=ltr] #menubar-toggle {left:0; margin-left:0}
[dir=rtl] #menubar-toggle {right:0; margin-right:0}

#board-head {position:fixed; top:0; left:0; right:0; height:40px; z-index:100;
  box-shadow:0 1px 8px #ccc; overflow:hidden; background-color:#fff}
[dir=ltr] #board-head {padding-left:46px}
[dir=rtl] #board-head {padding-right:46px}

#board-title {line-height:40px; min-width:150px; font-size:1em;
  font-weight:bold; color:#343a40}

#board-widgets {padding:0 10px; line-height:40px}
[dir=ltr] #board-widgets {margin-left:auto !important}
[dir=rtl] #board-widgets {margin-right:auto !important}

#board-body {padding:40px 0 0}


/* board design with Menu Toggled (Menu ON) */
body.MenuToggled {overflow:hidden}
body.MenuToggled #board-backdrop {display:block; z-index:100800}

body.MenuToggled #board-menubar {box-shadow:0 0 8px #303030}
[dir=ltr] body.MenuToggled #board-menubar {margin-left:0}
[dir=rtl] body.MenuToggled #board-menubar {margin-right:0}

body.MenuToggled #menubar-toggle {color:#f6f6f6}
[dir=ltr] body.MenuToggled #menubar-toggle {margin-left:190px}
[dir=rtl] body.MenuToggled #menubar-toggle {margin-right:190px}


/* sidemenu */
#menubar-head {padding:28px 20px 15px; overflow:hidden}

#menubar-body>ul.metismenu, #menubar-body>ul.metismenu ul {
  padding:0; margin:0; list-style:none}
#menubar-body>ul.metismenu li {
  display:block; border-top:1px solid rgba(128,128,128,0.25)}
#menubar-body>ul.metismenu a {display:block; padding:8px 20px; color:#eee;
  line-height:20px; font-weight:bold; font-size:0.9em; text-decoration:none;
  border-top:1px solid rgba(0,0,0,0.35)}
#menubar-body>ul.metismenu a:hover, #menubar-body>ul.metismenu li.active>a {
  color:#fff; text-decoration:none; background-color:rgba(0,0,0,0.15)}
#menubar-body>ul.metismenu>li:last-child>a,
#menubar-body>ul.metismenu>li:last-child>a:hover {background:none; cursor:default}
#menubar-body>ul.metismenu ul {box-shadow:0 2px 8px rgba(0,0,0,0.7) inset}
#menubar-body>ul.metismenu ul li {border-top:1px solid rgba(32,32,32,0.1)}
#menubar-body>ul.metismenu ul a {
  padding:8px 30px; font-weight:normal; color:#ddd; text-overflow:ellipsis;
  background-color:rgba(0,0,0,0.3); white-space:nowrap; overflow:hidden}
#menubar-body>ul.metismenu ul a:hover, #menubar-body>ul.metismenu ul a:active {
  background-color:rgba(0,0,0,0.46)}

[dir=ltr] #menubar-body>ul.metismenu a {text-align:left !important}
[dir=rtl] #menubar-body>ul.metismenu a {text-align:right !important}


@media(min-width:992px) {
  /* board design (Menu ON) */
  [dir=ltr] #board-wrapper {padding-left:220px}
  [dir=rtl] #board-wrapper {padding-right:220px}

  #board-menubar {box-shadow:0 0 2px #666; width:220px}
  [dir=ltr] #board-menubar {margin-left:0}
  [dir=rtl] #board-menubar {margin-right:0}

  [dir=ltr] #menubar-toggle {margin-left:220px}
  [dir=rtl] #menubar-toggle {margin-right:220px}

  [dir=ltr] #board-head {left:220px}
  [dir=rtl] #board-head {right:220px}


  /* board design with Menu Toggled (Menu OFF) */
  body.MenuToggled {overflow:auto}

  [dir=ltr] body.MenuToggled #board-wrapper {padding-left:0}
  [dir=rtl] body.MenuToggled #board-wrapper {padding-right:0}
  body.MenuToggled #board-backdrop {display:none; z-index:-1}

  body.MenuToggled #board-menubar {border:none; box-shadow:none}
  [dir=ltr] body.MenuToggled #board-menubar {margin-left:-220px}
  [dir=rtl] body.MenuToggled #board-menubar {margin-right:-220px}

  body.MenuToggled #menubar-toggle {color:#999}
  [dir=ltr] body.MenuToggled #menubar-toggle {margin-left:0}
  [dir=rtl] body.MenuToggled #menubar-toggle {margin-right:0}

  [dir=ltr] body.MenuToggled #board-head {left:0}
  [dir=rtl] body.MenuToggled #board-head {right:0}
}


@media print {
  #board-wrapper, #board-page, #board-head {
    left:0 !important; right:0 !important;
    margin-left:0 !important; margin-right:0 !important;
    padding-left:0 !important; padding-right:0 !important}
}
